<!-- start custom head snippets -->

<link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png?v=20201130" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/android-chrome-192x192.png?v=20201130" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png?v=20201130" sizes="16x16">
<link rel="manifest" href="/assets/images/manifest.json?v=20201130">
<link rel="shortcut icon" href="/assets/images/favicon.ico?v=20201130">
<meta name="theme-color" content="#ffffff">

<script>
  window.MathJax = {
    tex: {
      inlineMath: [ ["$", "$"], ["\\(", "\\)"] ],
      displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
      processEscapes: true,
      noundefined: {
        color: "red",
        background: "#FFEEEE",
        size: "90%"
      },
      tags: "ams",
      autoload: {
        color: [],
        colorv2: ['color']
      },
      packages: {'[+]': ['noerrors']}
    },
    options: {
      ignoreHtmlClass: "tex2jax_ignore|dno",
      processHtmlClass: 'tex2jax_process'
    },
    loader: {
      load: ['[tex]/noerrors']
    }
  };
  </script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>
